<html>
<body style="font-family:SansSerif;">
<h1>Nikki GPS/Foto-Tagebuch</h1>
<p>
<i>Build @@BUILD_ID@@ &copy;2010 Michael Borgwardt</i><br>
Projekt-Homepage: <a href="http://www.brazzy.de/nikki">http://www.brazzy.de/nikki</a><br>
Lizenziert unter der <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GNU General Public License, version 3</a> oder höher.
</p>

<p>Teile deine Reiseerlebnisse mit der ganzen Welt! Die wichtigsten Arbeitsschritte:
</p>
<ol>
<li>Füge ein Verzeichnis mit Bildern und GPS-Logs hinzu (bisher nur NMEA-Format)</li>
<li>Durchsuche Verzeichnis, gebe die Zeitzone ein, nach der die Uhr der Kamera gestellt war.</li>
<li>Suche Bilder zum Exportieren aus, füge Titel und Beschreibung hinzu</li>
<li>Suche ein Bild mit genau bekanntem Ort und finde die Zeitabweichung</li>
<li>Geotagge die Bilder (weist anhand der Zeitstempel GPS-Koordinaten zu)</li>
<li>Exportiere Bilder und GPS-Pfade in eine kompakte KMZ-Datei zur Anzeige in Google Earth</li>
<li>Speichere alle veränderten Daten in den EXIF-Headern der Bilddateien</li>
</ol>

<p>
Erstellt mit Groovy, Java und folgenden Bibliotheken: 
<a href="http://www.routeconverter.de/">RouteConverter</a>, 
<a href="http://mediachest.sourceforge.net/mediautil/">MediaUtil</a>, 
<a href="http://joda-time.sourceforge.net">Joda Time</a>, 
<a href="http://labs.micromata.de/display/jak/Home/">Java API for KML</a>, <br>
<a href="http://jsi.sourceforge.net/">Java Spatial Index</a>, 
<a href="http://code.google.com/p/java-image-scaling/">Java Image Scaling</a>, dem
<a href="http://www.famfamfam.com/lab/icons/silk/">Silk icon set</a>, und der
<a href="http://www.geonames.org">Genonames.org</a>-Datenbank.</p>
</body>
</html>